<div xmlns:th="http://www.thymeleaf.org"
     style="border: 2px solid 	#800080;padding:5px;margin-bottom:20px;">
 
  <a th:href="@{/existing}"><b><font size="3"><i>Account Details</i></font></b></a>
 
    &nbsp; | &nbsp;
 
   <a th:href="@{/sendMoney}"><b><font size="3"><i>Send Money</i></font></b></a>
 
    &nbsp; | &nbsp;
 
   <a th:href="@{/deposit}"><b><font size="3"><i>Deposit Money</i></font></b></a>
 
    &nbsp; | &nbsp;
 
   <a th:href="@{/withdraw}"><b><font size="3"><i>Withdraw Money</i></font></b></a>
 
    &nbsp; | &nbsp;

	<a th:href="@{/}"><b><font size="3"><i>Logout</i></font></b></a>
</div>
