<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Account</title>
</head>
<style>
table1{
  width: 50%;
  
  font-size:20px;
}

tr {
  height: 50px;
 
}
button {
  background-color: #BFEFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

</style>
  <body bgcolor="#BFEFFF">
	<table bgcolor="000033" cellspacing="10%" width="100%" cellpadding="-50%">
<tr><td><h1><u><i><font color="white">BankgoOnline<p></i></u></h1><p></td>
<td><font color="white" align="right"><b>INDIA</td>
</tr>
</table>
<hr style="height:2px;border-width:7;color:blue;background-color:blue">

	<div align="center">
        <h1><u>Create New Account</u></h1>
        <br />
        <form action="#" th:action="@{/save}" th:object="${product}" method="post">
	<div class="table1">
            <table border="0" cellpadding="10">
                <tr>
                    <td><b><font size="4">ID:</td>
                    <td><input type="number" th:field="*{id}" /></td>
                </tr>
                <tr>
                    <td><b><font size="4">Full Name:</td>
                    <td><input type="text" th:field="*{fullName}" /></td>
                </tr>
                <tr>
                    <td><b><font size="4">Balance:</td>
                    <td><input type="number" th:field="*{balance}" /></td>
                </tr>
                <tr>
                    <td><b><font size="4">Password:</td>
                    <td><input type="password" th:field="*{password}" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>